@charset "utf-8";
.header {
  min-width: 1300px;
  height: 750px;
  position: relative;
}

/* 导航栏 */
.dhl_nav {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nr_center {
  width: 1200px;
  height: 60px;
  margin: 0px auto;
  
}

#nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

#nav li {
  float: left;
  display: block;
  background: none;
  position: relative;
  z-index: 999;
}

#nav li a {
  width: 106px;
  margin-left: 68px;
  font-family: "宋体";
  font-size: 20px;
  letter-spacing: 3px;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  position: relative;
  text-align: center;
  zoom: 1;
}

.er_hv::after {
  content: "";
  position: absolute;
  top: 94%;
  left: 50%;
  width: 0;
  height: 4px;
  background-color: #4d8bfb;
  opacity: 0;
  -webkit-transition: 0.35s all cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.35s all cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.35s all cubic-bezier(0.77, 0, 0.175, 1);
}

.er_hv:hover::after {
  left: 0;
  opacity: 1;
  width: 100%;
}

.er_hve::after {
  content: "";
  position: absolute;
  top: 94%;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #4d8bfb;
  opacity: 1;
}

#nav .er_hve {
  width: 50px;
  margin-left: 48px;
}

#nav i {
  display: block;
  width: 40px;
  height: 30px;
  margin-top: 15px;
  background: url(../image/logo.png) no-repeat;
}

#nav ul {
  position: absolute;
  right: -12px;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}

#nav ul li {
  width: 130px;
  clear: both;
}

#nav ul a {
  float: right;
  display: block;
  height: 28px;
  line-height: 28px;
  background: url(../image/erbj.png) no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 2px 12px;
  text-transform: uppercase;
  font-family: "宋体";
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

#nav .er_top {
  margin-top: 0;
}
/* 导航栏 */

/* lbt1 */
/*.banner {
  position: relative;
  overflow: auto;
  text-align: center;
}

.banner li {
  list-style: none;
}

.banner ul li {
  float: left;
}

#b03 {

  min-width: 1200px;
}

#b03 .dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

#b03 .dots li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 50px 18px 18px;
  text-indent: -999em;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

#b03 .dots li.active {
  background: #4d8bfb;
}

.banner_btn {
  position: absolute;
  top: 170px;
  left: 530px;
}

.banner_btn img {
  margin: auto;
}

.banner_btn h1 {
  font-size: 80px;
  font-weight: normal;
  text-align: center;
  margin: 20px 0 30px 0;
  font-family: "Adobe 黑体 Std";
  color: #ffffff;
}

.banner_btn a {
  width: 350px;
  height: 80px;
  margin: auto;
  line-height: 80px;
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  font-family: "Adobe 黑体 Std";
  color: #ffffff;
  background-color: #4d8bfb;
  transition: all .3s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
}

.banner_btn a:hover {
  background-color: #42577f;
}*/

.slider {

  /*overflow: auto;
  text-align: center;*/
      height: 340px;
      margin: 100px auto;
      position: relative;
    }
.slider img{
      width: 100%;
      height: 100%;
    }
    .slider>ul>li {
      position: absolute;
      display: none;
    }

    .slider>ul>li:first-child {
      display: block;
    }


    .arrow {
      display: none;
    }

    .slider:hover .arrow {
      display: block;
    }

    .arrow-left,
    .arrow-right {
      font-family: "SimSun", "宋体";
      width: 30px;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      margin-top: -30px;
      cursor: pointer;
      text-align: center;
      line-height: 60px;
      color: #fff;
      font-weight: 700;
      font-size: 30px;
    }

    .arrow-left:hover,
    .arrow-right:hover {
      background-color: rgba(0, 0, 0, .5);
    }

    .arrow-left {
      left: 0;
    }

    .arrow-right {
      right: 0;
    }

    .slider .round {
      position: absolute;
      left: 50%;
      bottom: 18px;
      margin-left: -128px;
    }

    .roundLiHover {
      background-color: #fff;
    }

    .round>ul>li {
      width: 16px;
      height: 16px;
      float: left;
      display: block;
      margin-left: 12px;
      border: 2px solid #fff;
      border-radius: 50%;
      transition: background .2s ease;
      cursor: pointer;
    }

    .round>ul>li:hover {
      background-color: #fff;
    }
/* lbt1 */

/* 尾部 */
.footer {
  min-width: 1300px;
  height: 72px;
  background-color: #e4e4e4;
}

.footer p {
  text-align: center;
  line-height: 72px;
  font-family: "宋体";
  font-size: 16px;
  letter-spacing: 3px;
}
/* 尾部 */
